---
layout: default
title: Home
---
<div class="box">
  {% assign posts = site.posts | where_exp: "item", "item.tags contains 'highlight'" %}
  {% for post in posts limit:3 %}
  <div class="entry"><a href="{{ post.url }}"><img src="{{ post.image }}" width=240 height=160></img><h2>{{ post.title }}<h2></a></div>
  {% endfor %}
</div>
<h1>Skills</h1>
<h2>Unreal Engine 5</h2>
<p>
  Unreal Engine is the platform with which I have the most experience. 
  I worked with it professionally at Sumo for a year, working on multiplayer networking, UI logic, and gameplay systems. 
  Outside of work, we used it to create Braise Satan where I was one of two programmers and did all of the C++ work. 
  Since coming back to university I have continued to use on side projects, working on gameplay systems and tools.
</p>
<h2>C++</h2>
<p>
  C++ has been my language of choice throughout my programming journey.
  I started using it in high school and have continued to hone my skills with it through university.
</p>
<h2>Soft Skills</h2>
<p>
  I have worked in large and small teams and firmly believe that good games can only be made when there is a spirit of collaboration on the personal, intra- and inter- department level.
</p>
<h1>All Posts</h1>
<ul> 
  {% for post in site.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> <span style="color: lightgrey; font-style: italic;">{{ post.date | date_to_string }}</span></li>
  {% endfor %}
</ul>